/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: cover;
  object-position: center;
  color: var(--color-accent);
  font-family: var(--font-inter);
  font-size: 1.125rem; /* 18px */
  background-color: var(--color-bg);
  background-image: var(--bg-img);
  min-inline-size: 20rem;
  max-inline-size: 90rem;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--font-weight-regular);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 102px 100px;
  border: var(--borders);
  font-family: var(--font-ps2p);
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;
  background: var(--color-bg);
  max-inline-size: 43.75rem;
  max-block-size: 23rem;
  inline-size: clamp(23.4375rem, 50%, 43.75rem);
}

.elastic {
  margin-inline: clamp(0rem, -8.1866rem + 34.9296vw, 23.25rem);
}

.header__logo {
  margin-block-start: 8.5rem;
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu {
  justify-self: center;
  align-self: center;
  font-size: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-block-end: 25px;
}

.theme-menu__button {
  border: none;
  padding: 0;
  text-transform: uppercase;
  background-color: inherit;
  cursor: pointer;
}

.theme-menu__button::after {
  content: '';
  display: block;
  height: 2px;
  background-color: var(--color-accent);
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  display: inline-block;
  animation: arrow 0.5s infinite alternate ease-in-out;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transition: transform 0.3s;
  transform: scaleX(1);
}

.content__section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  row-gap: 50px;
  margin-block-end: 54px;
  max-inline-size: 43.75rem;
  inline-size: clamp(23.4375rem, 50%, 43.75rem);
}

.content {
  display: flex;
  flex-direction: column;
  border: var(--borders);
  background: var(--color-bg);
}

.content__title {
  padding: 5px 10px;
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.image-case {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 2px;
  max-inline-size: 43.5rem;
  max-block-size: 43.5rem;
}

.card__image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.watermark {
  content: '';
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 12;
  opacity: 0.5;
  color: inherit;
  font-family: var(--font-ps2p);
  font-weight: var(--font-weight-regular);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 1px 0 1px var(--color-bg), 0 1px 1px var(--color-bg),
    -1px 0 1px var(--color-bg), 0 -1px 1px var(--color-bg);
  mix-blend-mode: hard-light;
}

.image-1 {
  filter: brightness(0.5);
}

.image-2 {
  filter: contrast(1.2);
}

.image-3 {
  filter: grayscale(1);
}

.image-4 {
  filter: sepia(1);
}

.image-5 {
  filter: blur(1px);
}

.image-6 {
  filter: invert(1);
}

.image-7 {
  filter: saturate(25%);
}

.image-8 {
  filter: invert(1) sepia(1) grayscale(1);
}

@supports (
  (text-stroke: 1px var(--color-bg)) or
    (-webkit-text-stroke: 1px var(--color-bg))
) {

  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-bg);
    /* stylelint-disable-next-line property-no-unknown */
    text-stroke: 1px var(--color-bg);
  }
}

.text__content-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 27px;
  margin: 25px;
}

.text__content {
  line-height: 116.667%; /* 21px */
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  margin-inline-end: 25px;
  margin-block-end: 25px;
}

.card__icon-button {
  border: 2px solid rgba(0 0 0 / 0);
  padding: 0;
  background: transparent;
  cursor: pointer;
  block-size: 2.375rem;
  inline-size: 2.4375rem;
}

.card__icon-button .main-body {
  fill: transparent;
  transition: fill 0.3s ease;
}

.card__icon-button .core {
  fill: transparent;
  transition: fill 0.03s ease;
}

.card__icon-button .contour {
  fill: var(--color-contour);
  transition: fill 0.1s linear;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color-accent);
  transition: border 0.3s ease;
}

.card__icon-button:hover .core {
  fill: var(--color-contour);
  transition: fill 0.3s ease;
}

.card__icon-button:hover .main-body {
  fill: var(--color-contour);
  transition: fill 0.3s 0.05s ease;
}

.card__icon-button:active .core {
  fill: var(--color-main-body);
  transition: fill 0.3s ease;
}

.card__icon-button:active .main-body {
  fill: var(--color-main-body);
  transition: fill 0.3s 0.05s ease;
}

.card__icon-button:active .contour {
  fill: var(--color-main-body);
  transition: fill 0.3s 0.11s ease;
}

.card__like-button {
  position: relative;
  border: var(--borders);
  background-color: var(--color-bg);
  transition: none;
  inline-size: 8.125rem;
  block-size: 2.375rem;
}

.like-icon {
  max-block-size: 2.25rem;
}

.like-icon.is-liked .core {
  fill: var(--color-main-body);
}

.like-icon.is-liked .main-body {
  fill: var(--color-main-body);
}

.like-icon.is-liked .contour {
  fill: var(--color-main-body);
}

.like-icon.is-liked:active .core {
  fill: var(--color-main-body);
  transition: fill 0.3s ease;
}

.like-icon.is-liked:active .main-body {
  fill: var(--color-main-body);
  transition: fill 0.3s 0.05s ease;
}

.like-icon.is-liked:active .contour {
  fill: var(--color-main-body);
  transition: fill 0.3s 0.05s ease;
}

.sparks {
  opacity: 0;
}

.heart {
  transform: scale(1);
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: big-heart 0.3s 0.1s ease-in alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks-on 0.3s 0.3s ease-in alternate;
}

.decor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.decor::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-accent);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.decor:hover::after {
  transform: scaleX(1);
}

.decor:focus {
  outline: none;
}

.decor:focus-visible {
  box-shadow: 2px 2px 0 var(--color-accent);
  transition: box-shadow 0.3s ease;
}

.button__text {
  position: relative;
  z-index: 10;
  color: var(--color-text);
  font-family: var(--font-ps2p);
  font-size: 0.875rem;
  white-space: nowrap;
  mix-blend-mode: difference;
}

.footer {
  margin-block-end: 105px;
}

.save-button {
  position: relative;
  gap: 8px;
  width: 100%;
  min-width: 20.9375rem;
  min-height: 3.4375rem;
  border: var(--borders);
  background: var(--color-bg);
}

.floppy-icon {
  border: none;
  padding: 0;
  fill: var(--color-text);
  inline-size: 21px;
}

.save-button.decor {
  margin-block-start: -5px;
}

dialog {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: var(--borders);
  padding: 30px;
  color: var(--color-accent);
  background-color: var(--color-bg);
  inline-size: clamp(341px, 50%, 353px);
  block-size: 11.9375rem;
}

.modal-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-family: var(--font-ps2p);
  font-size: 14px;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
}

dialog:not([open]) {
  display: none;
}

dialog h3 {
  display: inline-block;
}

dialog .floppy-icon {
  fill: var(--color-accent);
  inline-size: 5.9375rem;
}

dialog::backdrop {
  background: rgba(0 0 0 / 0.75);
}

.close-button {
  border: var(--borders);
  padding: 9px 17px;
  color: var(--color-accent);
  font-family: var(--font-ps2p);
  background-color: transparent;
  cursor: pointer;
  inline-size: 100%;
  max-block-size: 2.375rem;
}

@keyframes arrow {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(4px);
  }
}

@keyframes big-heart {

  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes sparks-on {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (375px <= width < 1440px) {
  
  .header {
    max-height: 20.4375rem;
  }

  .header__logo {
    margin-block-start: 7.5rem;
  }

  .text__content-conteiner {
    margin: 25px 28.95px 25px 25px;
  }

  .watermark {
    top: 23px;
    right: 11px;
  }

  .save-button {
    min-width: 19.125rem;
    min-height: 5rem;
  }

  .button__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .floppy-icon {
    margin-block: 0.3125rem;
    inline-size: 1.75rem;
  }
}
